<% layout('layout') -%>
<div class="app-box-scroll-wrapper">
  <div class="app-box">
    <div class="app-box-content">
      <!-- <div class="app-box-overlay">
        <div class="app-box-overlay-bottom">
        </div>
      </div> -->
      <a href="/dashboard#cubstart" class="a-back">
        <i class="material-icons" style="font-size:12px">arrow_back_ios</i>
        Back
      </a>
      <h1>Cal Hacks 6.0 Cubstart Application</h1>
      <% if (user.email.toLowerCase().endsWith('@berkeley.edu')) { %>
        <form action="/cubstart" id="cubstart" method="post" encType='multipart/form-data'>
          <%
            var canSubmit = true;
            var data = {};
            if (user.CubStart) {
              data = user.CubStart;
            }

            if (
              Math.round((new Date()).getTime() / 1000) >= 2065592781) {
              // apps are closed!
              canSubmit = false;
            }
          %>

          <%
            if (canSubmit) {
              %>
                <h3>Fill out this form if you would like to be considered for CubStart. <b>CubStart is for hackers attending their first hackathon.</b></h3>
              <%
            } else {
              %>
                <p>Applications have been closed for your region, and your application can no longer be changed.</p>
              <%
            }
          %>

          <!-- For cubstart only -->
          <span id="cubstart-questions">
            <h3> We each have our own unique experiences and stories to tell. How did your journey lead you to apply to CubStart? <span class="required">*</span></h3>
            <textarea id="cubstart1" name="cubstart1" rows="5"><%= data.cubstart1 || '' %></textarea>
            <p class="word-count" id="cubstart1-word-count"></p>
            <p class="form-error" id="cubstart1-error"></p>

            <h3>Describe your proudest achievement (technical or non-technical!). What challenges did you face along the way, and why is it meaningful to you?<span class="required">*</span></h3>
            <textarea id="cubstart2" name="cubstart2" rows="5"><%= data.cubstart2 || '' %></textarea>
            <p class="word-count" id="cubstart2-word-count"></p>
            <p class="form-error" id="cubstart2-error"></p>

            <h3>Describe a time when you had to think “outside the box,” and how did you go about it? <span class="required">*</span></h3>
            <textarea id="cubstart3" name="cubstart3" rows="5"><%= data.cubstart3 || '' %></textarea>
            <p class="word-count" id="cubstart3-word-count"></p>
            <p class="form-error" id="cubstart3-error"></p>

            <h3>What programming or engineering experience do you have (if any)? <span class="required">*</span></h3>
            <textarea id="cubstart4" name="cubstart4" rows="5"><%= data.cubstart4 || '' %></textarea>
            <p class="word-count" id="cubstart4-word-count"></p>
            <p class="form-error" id="cubstart4-error"></p>

            <h3>How did you hear about CubStart? (Select all that apply)<span class="required">*</span></h3>
            <div id="cubstart5" style="display:flexbox">
              <%
                var val = data.cubstart5 || [];
                cubstart5pts = {
                  'Cal Hacks Website': 'Website',
                  'Facebook': 'Facebook',
                  'Instagram': 'Instagram',
                  'LinkedIn': 'LinkedIn',
                  'Twitter': 'Twitter',
                  'Piazza': 'Piazza',
                  'In-class announcement': 'IC-Announcement',
                  'A friend told me about it': 'Friend'
                };

                for (var key of Object.keys(cubstart5pts)) { 
                  if (data.cubstart5 !== null && data.cubstart5 !== undefined && data.cubstart5.includes(cubstart5pts[key])) {%>
                  <input class="checkbox" type="checkbox" name="cubstart5-<%= cubstart5pts[key] %>" value="<%= cubstart5pts[key] %>" id="cubstart5-<%= cubstart5pts[key] %>" checked> </input>
                  <label for="cubstart5-<%= cubstart5pts[key] %>"> <%= key %> </label>
                <% }
                  else { %>
                    <input class="checkbox" type="checkbox" name="cubstart5-<%= cubstart5pts[key] %>" value="<%= cubstart5pts[key] %>" id="cubstart5-<%= cubstart5pts[key] %>"> </input>
                    <label for="cubstart5-<%= cubstart5pts[key] %>"> <%= key %> </label>
                  <%}
                }
              %>
              <%
                if (data.cubstart5Other !== null && data.cubstart5Other !== undefined) { %>
                <input class="checkbox" type="checkbox" name="cubstart5-other" value="other" id="cubstart5-other" checked> </input>
                <label for="cubstart5-other"> Other </label>
                <% } else { %>
                <input class="checkbox" type="checkbox" name="cubstart5-other" value="other" id="cubstart5-other" > </input>
                <label for="cubstart5-other"> Other </label>
                <%}%>
              <input id="cubstart5-other-text" placeholder="Please specify" name="cubstart5-other-text" type="text" value="<%= data.cubstart5Other || '' %>" />
              <p class="form-error" id="cubstart5-other-error"></p>
            </div>
            <p class="form-error" id="cubstart5-error"></p>
          </span>

          <%
            if (canSubmit) {
              %>
                <input type="submit" value="Save app" />
              <%
            } else {
              %>
                <p>Applications have been closed for your region, and your application can no longer be changed.</p>
              <%
            }
          %>
        </form>
      <% } else { %>
        <h3>Unfortunately, CubStart is only available for Berkeley students right now. If you're a Berkeley student, you should create an account with your @berkeley.edu email address.</h3>
      <% } %>
    </div>
  </div>
</div>

<script>
validationErrors = [];

function validate() {
  result = [];
  requiredCubstartFields = {
    'cubstart1': 200,
    'cubstart2': 200,
    'cubstart3': 200,
    'cubstart4': 100
  };

  for (var cubstartField in requiredCubstartFields) {
    var val = $("#" + cubstartField).val();
    var wc = wordCount(val);
    var maxWc = requiredCubstartFields[cubstartField];
    if (val == '') {
      result.push({
        field: "#" + cubstartField,
        reason: "Field must not be blank."
      });
    } else if (wc > maxWc) {
      result.push({
        field: "#" + cubstartField,
        reason: "Response must not exceed " + maxWc + " words."
      });
    } else if (val.length > maxWC * 10) {
      result.push({
        field: "#" + cubstartField,
        reason: "Response must not exceed " + (maxWc * 10) + " characters."
      });
    }
  }

  checkboxfields = [
    'Website',
    'Facebook',
    'Instagram',
    'LinkedIn',
    'Twitter',
    'Piazza',
    'IC-Announcement',
    'Friend',
    'other'
  ];

  var valid = false;
  checkboxfields.forEach((checkboxfield) => {
    console.log('cubstart5-' + checkboxfield);
    if (document.getElementById('cubstart5-' + checkboxfield).checked) {
      valid = true;
    }
  });
  if (!valid) {
    result.push({
        field: "#cubstart5",
        reason: "You must select one."
      });
  }
  
  if (document.getElementById('cubstart5-other').checked && document.getElementById('cubstart5-other-text').value == '') {
    result.push({
        field: "#cubstart5-other",
        reason: "Cannot be null if 'other' is selected."
      });
  }

  return result;
}

function wordCount(str) {
  // https://stackoverflow.com/questions/18679576/counting-words-in-string
  return str.split(' ')
    .filter(function(n) { return n != '' })
    .length;
}

function updateWc() {
  fields = {
    'cubstart1': 200,
    'cubstart2': 200,
    'cubstart3': 200,
    'cubstart4': 100,
  };

  for (field in fields) {
    $('#' + field + '-word-count').text(
      (fields[field] - wordCount($('#' + field).val())) +
      ' words left'
    );
  }
}
updateWc();

$("#cubstart1, #cubstart2, #cubstart3, #cubstart4, #cubstart5").on('keyup', updateWc);

function redisplay() {

  if (document.getElementById('cubstart5-other').checked) {
    console.log("done");
    $("#cubstart5-other-text").css("display", "block");
  } else {
    $("#cubstart5-other-text").css("display", "none");
  }

  $(".form-error").css("display", "none");
  for (var error of validationErrors) {
    $(error.field + "-error").css("display", "block");
    $(error.field + "-error").text(error.reason);
  }
}
redisplay();

$("#cubstart5-other").on("change", redisplay);

$("#cubstart").on("submit", function(e) {
  validationErrors = validate();
  if (validationErrors.length !== 0){
    // Validations have passed; submit the form
    redisplay();
    e.preventDefault();
    return false;
  } else {
    return true;
  }
});
</script>
