<% layout('layout') -%>
<div class="center-large-box">
  <h1>Dashboard</h1>
  <div id="center-large-box-left">
    <div id="application-tab-item" class="left-tab selected">
      Application
    </div>
    <% if (user.email.endsWith('@berkeley.edu')) { %>
      <div id="cubstart-tab-item" class="left-tab">
        CubStart
      </div>
    <% } %>
    <div id="team-tab-item" class="left-tab">
      Team
    </div>
    <div id="logout-tab-item" class="left-tab" onClick="location.href='/logout'">
      Logout
    </div>
  </div>
  <div id="center-large-box-right">

    <div id="application-tab" class="tab tab-visible">
      <%
      var app = user.Application
      if (app) { %>
        <p><b>Your application to Cal Hacks 5.0 is all set!</b> If you want to make changes, you can still edit your application before the deadline, October 8th.</p>
        <div class="button-justified">
          <button onclick="location.href='/application';">Edit Application</button>
        </div>
      <% } else { %>
        <p><b>You have not started your application yet!</b> To be considered for Cal Hacks 5.0, please fill out our application form.</p>
        <p>The deadline to complete your application is:<br/>
        <b>10/1</b> for out-of-area students in California<br/>
        <b>10/8</b> for Berkeley students</p>
        <p>(If you're on a team with an out-of-state student, you must complete your application by the out-of-state deadline.)</p>
        <div class="button-justified">
          <button onclick="location.href='/application';">Start Application</button>
        </div>
      <% } %>
    </div>

    <div id="team-tab" class="tab">
      <%
      if (user.Team) { %>
        <div>
          <p>Team name: <b><%= user.Team.name %></b></p>
          <% for (var u of user.Team.Users) { %>
            <p class="team-member"><b><%= u.firstname + ' ' + u.lastname %></b><%=' (' + u.email + ')' %></p>
          <% } %>
        </div>
        <div class="button-justified">
          <form method="post" action="/leaveTeam">
            <button type="submit">Leave Team</button>
          </form>
        </div>
      <% } else { %>
        <p>To join a team (or create a team if it doesn't exist), type your team name below.</p>
        <form name="team" method="post" action="/team">
          <input type="text" name="name"
            value="<%= user.Team ? user.Team.name : '' %>"
            placeholder="Team name"/>
          <input type="submit" value="Submit" />
        </form>
        <% if (flash.error) { %>
          <div
            class="flash-container">
            <%= flash.error %>
          </div>
        <% } %>
      <% } %>
    </div>

    <% if (user.email.endsWith('@berkeley.edu')) { %>
      <div id="cubstart-tab" class="tab">
        <%
         if (user.CubStart) { %>
           <p><b>Your application to Cubstart at Cal Hacks 5.0 is all set!</b> If you want to make changes, you can still edit your application before the deadline, October 8th.</p>
           <div class="button-justified">
             <button onclick="location.href='/cubstart';">Edit CubStart app</button>
           </div>
        <% } else { %>
          <p>You have not completed your application to CubStart yet.</p>
          <p>CubStart is a mentorship program for team building, ideation, basic hackathon skills, and technical workshops to encourage those with little or no CS experience to try out hackathons and coding! <b>If you're a first-time hacker, we highly recommend that you apply. Acceptance to CubStart guarantees your acceptance to Cal Hacks.</b></p>
          <p>More information about CubStart can be found on our <a href="https://tinyurl.com/ch5cubstartfaq" target="_blank">FAQ at tinyurl.com/ch5cubstartfaq</a>. If you have any additional questions, send us an email at cubstart@calhacks.io.</p>
          <div class="button-justified"> 
            <button onclick="location.href='/cubstart';">Start CubStart Application</button>
          </div>
        <% } %>
      </div>
    <% } %>

  </div>
</div>

<script>
var tabNames = ['application', 'team', 'cubstart'];

function setTab(tabName) {
  $(".left-tab").attr("class", "left-tab");
  $("#" + tabName + "-tab-item").addClass("selected")
  $(".tab").attr("class", "tab");
  $("#" + tabName + "-tab").addClass("tab-visible");x
  window.location.hash = tabName;
}

$(".left-tab").on("click", function() {
  var tabName = $(this).attr("id").split("-")[0];
  setTab(tabName);
});

var hash = window.location.hash.substr(1);
if (tabNames.indexOf(hash) !== -1) {
  setTab(hash);
} else {
  setTab(tabNames[0]);
}
</script>
