<% layout('layout') -%>
<div class="center-large-box">
  <h1>Dashboard</h1>
  <div id="center-large-box-left">
    <!-- <div id="application-tab-item" class="left-tab selected">
      Application
    </div>
    <% if (user.email.toLowerCase().endsWith('@berkeley.edu')) { %>
      <div id="cubstart-tab-item" class="left-tab">
        CubStart
      </div>
    <% } %> -->
    <div id="main-tab-item" class="left-tab">
      Main
    </div>
    <% if (user.status != 'rejected') { %>
      <div id="team-tab-item" class="left-tab">
        Team
      </div>
    <% } %>
    <% if (user.status == 'accepted_oos_ooa_reimbursed') { %>
      <div id="travel-tab-item" class="left-tab">
        Travel Reimbursement
      </div>
    <% } %>
    <div id="logout-tab-item" class="left-tab" onClick="location.href='/logout'">
      Logout
    </div>
  </div>

  <div id="center-large-box-right">

    <div id="main-tab" class="tab tab-visible">
      <% switch(user.status) {
          case 'rejected': %>
          <div>
            <p>Hey <%= user.firstname %>, <br />

            <p>Thank you so much for applying to Cal Hacks 5.0. After much consideration, we’re truly sorry to inform you that we are unable to invite you to join Cal Hacks 5.0 this year.</p>
            <p>Firstly, we want to commend you for taking the time out of your schedule to apply for Cal Hacks and to show your excitement for innovation. We thoroughly enjoyed reading your applications and appreciated the thought and effort you put into your responses.</p>
            <p>
              If you have any other questions about our decision-making process, or if you’re curious about how you can stay involved with the hackathon scene, please do not hesitate to reach out to us at <b>team@calhacks.io</b>.
              We cannot emphasize enough how much we respect you for taking the effort to apply and offering your time to create something you’ve never done before. We hope you continue to be passionate about innovation and we wish you the best in doing so.
            </p>
            <p>
              Best,<br />
              Cal Hacks Team
            </p>
          </div>
        <% break; %>

        <% case 'accepted_oos_ooa_reimbursed': %>
          <div>
            <p>Hey <%= user.firstname %>, <br /> <br />
            <b>Congratulations!!</b> We’d like to offer you the opportunity to be a hacker at Cal Hack’s fifth year anniversary!
            Our team was impressed by your application and would love to see you make this our best hackathon yet!</p>
          
            <h1>Some quick logistics:</h1>
            <ul>
              <li><p>Cal Hack 5.0 will take place at <b>Cal Memorial Stadium at UC Berkeley</b>, starting at 6pm Nov. 2 to 3pm Nov. 4, 2018</p></li>
              <li><p>Watch out in the coming weeks as we'll be posting updates here and on our social media!</p></li>
              <li><p>You should have received an email from us regarding travel reimburement. In addition to those instructions, we ask that you also upload your travel receipt to this portal (on the tab to the left).</p></li>
              <li><p>Don’t hesitate to send us an email at team@calhacks.io if you have any more questions. We can’t wait to see what you build at Cal Hacks 5.0!</p></li>
              <li><p>P.S. Post about why you are excited to come out to Cal Hacks 5.0 with #whyihack #ch5 and you could potentially win a (giant) stuffed bear!</p></li>
            </ul>
          </div>
        <% break; %>

        <% case 'accepted_oos_ooa_noreimbursed': %>
          <div>
            <p>Hey <%= user.firstname %>, <br /> <br />
            <b>Congratulations!!</b> We’d like to offer you the opportunity to be a hacker at Cal Hack’s fifth year anniversary!
            Our team was impressed by your application and would love to see you make this our best hackathon yet!</p>

            <h1>Some quick logistics:</h1>
            <ul>
              <li><p>Cal Hack 5.0 will take place at <b>Cal Memorial Stadium at UC Berkeley</b>, starting at 6pm Nov. 2 to 3pm Nov. 4, 2018</p></li>
              <li><p>Watch out in the coming weeks as we'll be posting updates here and on our social media!</p></li>
              <li><p>Don’t hesitate to send us an email at team@calhacks.io if you have any more questions. We can’t wait to see what you build at Cal Hacks 5.0!</p></li>
              <li><p>P.S. Post about why you are excited to come out to Cal Hacks 5.0 with #whyihack #ch5 and you could potentially win a (giant) stuffed bear!</p></li>
            </ul>
          </div>
        <% break; %>

        <% case 'accepted_berkeley_wave1': %>
          <div>
            <p>Hey <%= user.firstname %>, <br /> <br />
            <b>Congratulations!!</b> We’d like to offer you the opportunity to be a hacker at Cal Hack’s fifth year anniversary!
            Our team was impressed by your application and would love to see you make this our best hackathon yet!</p>

            <h1>Some quick logistics:</h1>
            <ul>
              <li><p>Cal Hack 5.0 will take place at <b>Cal Memorial Stadium at UC Berkeley</b>, starting at 6pm Nov. 2 to 3pm Nov. 4, 2018</p></li>
              <li><p>Watch out in the coming weeks as we'll be posting updates here and on our social media!</p></li>
              <li><p>Don’t hesitate to send us an email at team@calhacks.io if you have any more questions. We can’t wait to see what you build at Cal Hacks 5.0!</p></li>
              <li><p>P.S. Post about why you are excited to come out to Cal Hacks 5.0 with #whyihack #ch5 and you could potentially win a (giant) stuffed bear!</p></li>
            </ul>
          </div>
        <% break; %>

        <% case 'accepted_berkeley_wave2a': %>
          <div>
            <p>Accepted Berkeley wave 2a </p>

            <p>Hey <%= user.firstname %>, <br /> <br />


            <b>Congratulations!!</b> We’d like to offer you the opportunity to be a hacker at Cal Hack’s fifth year anniversary!
            Our team was impressed by your application and would love to see you make this our best hackathon yet!</p>

            <h1>Some quick logistics:</h1>
            <ul>
              <li><p>Cal Hack 5.0 will take place at <b>Cal Memorial Stadium at UC Berkeley</b>, starting at 6pm Nov. 2 to 3pm Nov. 4, 2018</p></li>
              <li><p>Watch out in the coming weeks as we'll be posting updates here and on our social media!</p></li>
              <li><p>Don’t hesitate to send us an email at team@calhacks.io if you have any more questions. We can’t wait to see what you build at Cal Hacks 5.0!</p></li>
              <li><p>P.S. Post about why you are excited to come out to Cal Hacks 5.0 with #whyihack #ch5 and you could potentially win a (giant) stuffed bear!</p></li>
            </ul>
          </div>
        <% break; %>

        <% case 'accepted_berkeley_wave2b': %>
          <div>
            <p>Accepted Berkeley wave 2b </p>

            <p>Hey <%= user.firstname %>, <br /> <br />

            <b>Congratulations!!</b> We’d like to offer you the opportunity to be a hacker at Cal Hack’s fifth year anniversary!
            Our team was impressed by your application and would love to see you make this our best hackathon yet!</p>
            <h1>Some quick logistics:</h1>
            <ul>
              <li><p>Cal Hack 5.0 will take place at <b>Cal Memorial Stadium at UC Berkeley</b>, starting at 6pm Nov. 2 to 3pm Nov. 4, 2018</p></li>
              <li><p>Watch out in the coming weeks as we'll be posting updates here and on our social media!</p></li>
              <li><p>Don’t hesitate to send us an email at team@calhacks.io if you have any more questions. We can’t wait to see what you build at Cal Hacks 5.0!</p></li>
              <li><p>P.S. Post about why you are excited to come out to Cal Hacks 5.0 with #whyihack #ch5 and you could potentially win a (giant) stuffed bear!</p></li>
            </ul>
          </div>
        <% break; %>

        <% default: %>
          <div>
            <p>Default </p>
          </div>
      <% } %>
    </div>

    <div id="travel-tab" class="tab">
      <form action="/travel" id="travel_form" method="post">
        <input type='file' onchange="javascript:travel_upload()" name='travel' id='travel_input'/>
        <label for="travel_input" id="travel_button">
          <%= user.travel_receipt || 'Upload' %>
        </label>
        <br>
        <input type="submit" value="Submit" />
        <p class="form-error" id="travel-error"></p>
      </form>
    </div>

    <div id="application-tab" class="tab">
      <%
      var app = user.Application
      if (app) { %>
        <p><b>Your application to Cal Hacks 5.0 is all set!</b> If you want to make changes, you can still edit your application before the deadline, October 8th.</p>
        <div class="button-justified">
          <button onclick="location.href='/application';">Edit Application</button>
        </div>
      <% } else { %>
        <p><b>You have not started your application yet!</b> To be considered for Cal Hacks 5.0, please fill out our application form.</p>
        <p>The deadline to complete your application is:<br/>
        <b>10/1</b> for out-of-area students in California<br/>
        <b>10/8</b> for Berkeley students</p>
        <p>(If you're on a team with an out-of-state student, you must complete your application by the out-of-state deadline.)</p>
        <div class="button-justified">
          <button onclick="location.href='/application';">Start Application</button>
        </div>
      <% } %>
    </div>

    <div id="team-tab" class="tab">
      <%
      if (user.Team) { %>
        <div>
          <p>Team name: <b><%= user.Team.name %></b></p>
          <% for (var u of user.Team.Users) { %>
            <p class="team-member"><b><%= u.firstname + ' ' + u.lastname %></b><%=' (' + u.email + ')' %></p>
          <% } %>
        </div>
        <div class="button-justified">
          <form method="post" action="/leaveTeam">
            <button type="submit">Leave Team</button>
          </form>
        </div>
      <% } else { %>
        <p>To join a team (or create a team if it doesn't exist), type your team name below.</p>
        <form name="team" method="post" action="/team">
          <input type="text" name="name"
            value="<%= user.Team ? user.Team.name : '' %>"
            placeholder="Team name"/>
          <input type="submit" value="Submit" />
        </form>
        <% if (flash.error) { %>
          <div
            class="flash-container">
            <%= flash.error %>
          </div>
        <% } %>
      <% } %>
    </div>

    <% if (user.email.toLowerCase().endsWith('@berkeley.edu')) { %>
      <div id="cubstart-tab" class="tab">
        <%
         if (user.CubStart) { %>
           <p><b>Your application to Cubstart at Cal Hacks 5.0 is all set!</b> If you want to make changes, you can still edit your application before the deadline, October 8th.</p>
           <div class="button-justified">
             <button onclick="location.href='/cubstart';">Edit CubStart app</button>
           </div>
        <% } else { %>
          <p>You have not completed your application to CubStart yet.</p>
          <p>CubStart is a mentorship program for team building, ideation, basic hackathon skills, and technical workshops to encourage those with little or no CS experience to try out hackathons and coding! <b>If you're a first-time hacker, we highly recommend that you apply. Acceptance to CubStart guarantees your acceptance to Cal Hacks.</b></p>
          <p>More information about CubStart can be found on our <a href="https://tinyurl.com/ch5cubstartfaq" target="_blank">FAQ at tinyurl.com/ch5cubstartfaq</a>. If you have any additional questions, send us an email at cubstart@calhacks.io.</p>
          <div class="button-justified">
            <button onclick="location.href='/cubstart';">Start CubStart Application</button>
          </div>
        <% } %>
      </div>
    <% } %>

  </div>
</div>

<script>
var tabNames = ['main', 'team', 'travel'];

function setTab(tabName) {
  $(".left-tab").attr("class", "left-tab");
  $("#" + tabName + "-tab-item").addClass("selected")
  $(".tab").attr("class", "tab");
  $("#" + tabName + "-tab").addClass("tab-visible");
  window.location.hash = tabName;
}

$(".left-tab").on("click", function() {
  var tabName = $(this).attr("id").split("-")[0];
  setTab(tabName);
});

var hash = window.location.hash.substr(1);
if (tabNames.indexOf(hash) !== -1) {
  setTab(hash);
} else {
  setTab(tabNames[0]);
}

function travel_upload() {
  $('#travel_button').text("File Uploaded!");
}
</script>
